
@media only screen and (min-width: 576px) {
    .col-space {
        width: 100%;
        height: 100%;
        background-color: #62277f;
    }

    
    .container, .container-sm {
        max-width: 100%;
    }

}

@media only screen and (min-width: 768px) {
    .header {
        /* background-image: url(../media/desctop.png); */
    }

    .container, .container-md, .container-sm {
        max-width: 720px;
    }

    .card-img {
        height: 250px;
    }

    .card {
        height: 365px;
    }

    .input-group {
        display: flex;
        justify-content: flex-start;
        height: 35px;
        width: 435px;
        height: 40px;
    }

    .submit {
        padding: 0 15px;
    }

    .icon-hamburger {
        display: none;
    }

    .list {
        display: flex;
        list-style-type: none;
    }

    .list li {
        padding-right: 30px;
    }

    .list a {
        text-decoration: none;
    }

    /* start contact */
    .contact {
        display: flex;
    }

    .mtb-3 {
        margin-bottom: 0rem!important;
    }

    .d-f > div{
        width: 48%;
    }

    .d-f {
        display: flex;
        justify-content: space-between;
    }

    .form {
        flex: .5;
        margin-right: 20px;
    }

    .map {
        flex: .5;
        background-color: blue;
        display: block;
    }
    /* end contact */
}

@media (min-width: 992px) {
 .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}   
}


@media (min-width: 1200px) {
 .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
}
